<% item.tags.forEach(function(tag){ %>
<div class="related-posts">
    <h3>
        <a href="<%- config.root + tag.path %>">
            <%= tag.name %>
        </a>
    </h3>
    <div class="page_list">
        <% tag.posts.sort('date', -1).limit(15).each(function(post){ %>
            <div class="archive-post">
                <a href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </div>
            <% }) %>
    </div>
</div>
<% }) %>

<div class="related-posts hidden-sm-down">
    <h3>
        <a href="#">
            友商赞助
        </a>
    </h3>
    <div class="page_list">
        <div class="archive-post">
            <a href="http://jupyter.cn">
                  问卷大全问卷案例下载
            </a>
            <a href="https://mlln.cn/2019/05/09/2019%E5%B9%B4%E5%A4%A7%E5%AD%A6%E7%94%9F%E9%97%AE%E5%8D%B7%E4%BA%92%E5%A1%AB%E7%BE%A4%E6%8E%A8%E8%8D%90/">
                大学生互填问卷群推荐
            </a>
        </div>
    </div>
</div>